/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
   }
   
   /* Clear fix hack */
   .clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
   }
   
   .clear {
   clear: both;
   }
   
   .cocktail-card {
     margin: 5%;
   }
   
   /* to hide the card until it's been filled with a cocktail
   need to add javascript/jquery so that the class is removed dynamically
   commenting it out for now so we can see what the card looks like */
   
   /* .hide {
     display: none;
<<<<<<< HEAD
   } */
   
   
   
   /******************************************
   /* BASE STYLES
   /*******************************************/
   
   body {
   
   }
   
   
   h1{
     font-size: 90px;
     margin-top: 60px;
     margin-left: 60px;
     color: #ffffff;
   }
   
   h5{
     padding: 2%;
   }
   
   /* .bg-image{
=======
} */



/******************************************
/* BASE STYLES
/*******************************************/

body {

}


h1{
     font-size: 100px;
}

h5{
     padding: 2%;
}

.bg-image{
>>>>>>> main
     background-image: url(../images/pexels-olena-bohovyk-3604314.jpg);
     background-size: cover;
     background-position: left;
     height: 95vh;
<<<<<<< HEAD
   } */
   
   /******************************************
   /* LAYOUT
   /*******************************************/
   header {
   
   }
   
   
   
   .container {
   
   }
   
   .container-fluid {
=======
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}



.container {

}

.container-fluid {
>>>>>>> main
     
   }
   
   /* Code brings nav bar to the front */
   .navbar {
     z-index: 1;
     position: relative;
   }
   
   
   footer {
     width: 100%;
     background-color: black;
     padding: 2rem 0;
   }
   
   .footer-navbar {
     width: 40%;
     align-items: center;
     justify-content: space-between;
   }
   
   .footer-nav-item {
     display: flex;
   }
   
   footer a:hover{
     color: #f1f0f0;
     text-decoration: none;
   }
   
   .footer-nav-link {
     display: flex;
     color: rgba(213, 208, 208, 0.729);
     font-weight:light;
   }
   
   /******************************************
   /* ADDITIONAL STYLES
   /*******************************************/
   .custom-color{
     background-color: #371311;
     color: white;
   }
   
   .custom-color:hover{
     color: white !important;
   }
   
   
   /* Jumbotron */
   .jumbotron_content {
     position: absolute;
     top: 200px;
     z-index: 1;
   }
   
.jumborton_video {
     height: 790px;
     width: 100%;
     object-fit: cover;
   }
<<<<<<< HEAD
   
   .jumbotron_form {
     position: absolute;
     top: 350px;
     z-index: 1;
   }
   
   .jumbotron_overlay {
=======


.jumbotron_overlay {
>>>>>>> main
     position: absolute;
     height: 790px;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.4);
   }
<<<<<<< HEAD
   
   
=======


/******************************************
/* MEDIA QUERY
/*******************************************/
/* Extra Small devices */
   @media only screen and (max-width: 600px)  {
     h1 {
         font-size: 40px;
     }
}

/* Small devices */
@media only screen and (max-width: 768px) {
     h1 {
          font-size: 60px;
      }
 }


/* Medium devices */
@media only screen and (max-width: 1260px) {
     h1 {
          font-size: 70px;
      }
 }

/* Large devices */
/* @media only screen and (min-width: 979px) {
     h1 {
          font-size: 100px;
      }
     }

 */

>>>>>>> main
