/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


h1{
     font-size: 80px;
}

.bg-image{
     background-image: url(../images/pexels-olena-bohovyk-3604314.jpg);
     background-size: cover;
     background-position: left;
     height: 100vh;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}



.container {

}

.container-fluid {
     
}

footer {
     width: 100%;
     background-color: black;
     padding: 2rem 0;
}

.footer-navbar {
     width: 40%;
     align-items: center;
     justify-content: space-between;
}

.footer-nav-item {
     display: flex;
}

.footer-nav-link {
     display: flex;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
