/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.cocktail-card {
     margin: 5%;
}

/* to hide the card until it's been filled with a cocktail
need to add javascript/jquery so that the class is removed dynamically
commenting it out for now so we can see what the card looks like */

/* .hide {
     display: none;
} */



/******************************************
/* BASE STYLES
/*******************************************/

body {

}


h1{
     font-size: 90px;
     margin-top: 100px;
     margin-left: 60px;
     color: #371311;
}


.bg-image{
     background-image: url(../images/pexels-olena-bohovyk-3604314.jpg);
     background-size: cover;
     background-position: left;
     height: 95vh;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}



.container {

}

.container-fluid {
     
}

footer {
     width: 100%;
     background-color: black;
     padding: 2rem 0;
}

.footer-navbar {
     width: 40%;
     align-items: center;
     justify-content: space-between;
}

.footer-nav-item {
     display: flex;
}

.footer-nav-link {
     display: flex;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.custom-color{
     background-color: #371311;
     color: white;
}

.custom-color:hover{
     color: white !important;
}

